<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Doklady</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createInvoice()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Hledat…" animated [(ngModel)]="searchQuery" debounce="1000"
    (ionChange)="searchChanged($event)"></ion-searchbar>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>Odběratel</ion-col>
          <ion-col>Datum vystavení</ion-col>
          <ion-col>Datum splatnosti</ion-col>
          <ion-col>Cena</ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let invoice of invoices" (click)="openInvoice(invoice.invoiceId)">
    <ion-card-header>
      <ion-card-title>
        {{ invoice.number }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-badge class="invoice-badge" *ngFor="let badge of invoiceService.getInvoiceReadableFlags(invoice.flags)"
        [color]="badge.color">
        {{ badge.name }}
      </ion-badge>
      <ion-grid>
        <ion-row>
          <ion-col>{{ invoice.customerName }}</ion-col>
          <ion-col>{{ invoice.dateCreated | date: 'dd.MM.yyyy' }}</ion-col>
          <ion-col>{{ invoice.dateDue | date: 'dd.MM.yyyy' }}</ion-col>
          <ion-col>{{ invoiceService.translateCurrencyToSymbol(invoice.total, invoice.currency) }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNext($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Načítání...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>