<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="contactId > 0">Kontakt</ion-title>
    <ion-title *ngIf="contactId === 0">Nový kontakt</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="contactId > 0" (click)="deleteContact()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="contactId > 0" (click)="updateContact()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="contactId === 0" (click)="saveNewContact()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="!contact && contactId > 0" type="indeterminate"></ion-progress-bar>
  <div *ngIf="contact">
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-list-header>
            <ion-label>
              Fakturační údaje
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Váš název</ion-label>
            <ion-input [(ngModel)]="contact.name" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Jméno</ion-label>
            <ion-input [(ngModel)]="contact.firstName" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Příjmení</ion-label>
            <ion-input [(ngModel)]="contact.lastName" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Ulice</ion-label>
            <ion-input [(ngModel)]="contact.street" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Město</ion-label>
            <ion-input [(ngModel)]="contact.city" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>PSČ</ion-label>
            <ion-input [(ngModel)]="contact.zip" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>IČO</ion-label>
            <ion-input [(ngModel)]="contact.ico" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>DIČ</ion-label>
            <ion-input [(ngModel)]="contact.dic" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Země</ion-label>
            <ion-select [(ngModel)]="contact.countryCode" okText="Zvolit" cancelText="Zrušit" placeholder="Vyberte">
              <ion-select-option value="CZ">Česká republika</ion-select-option>
              <ion-select-option value="SK">Slovensko</ion-select-option>
              <ion-select-option value="DE">Německo</ion-select-option>
              <ion-select-option value="GB">Velká Británie</ion-select-option>
              <ion-select-option value="PL">Polsko</ion-select-option>
              <ion-select-option value="US">USA</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-list-header>
            <ion-label>
              Dodací údaje
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Název firmy</ion-label>
            <ion-input [(ngModel)]="contact.deliveryCompany" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Jméno</ion-label>
            <ion-input [(ngModel)]="contact.deliveryFirstName" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Příjmení</ion-label>
            <ion-input [(ngModel)]="contact.deliveryLastName" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Ulice</ion-label>
            <ion-input [(ngModel)]="contact.deliveryStreet" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Město</ion-label>
            <ion-input [(ngModel)]="contact.deliveryCity" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>PSČ</ion-label>
            <ion-input [(ngModel)]="contact.deliveryZip" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Telefon</ion-label>
            <ion-input [(ngModel)]="contact.deliveryTel" class="form-input"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Země</ion-label>
            <ion-select [(ngModel)]="contact.deliveryCountryCode" okText="Zvolit" cancelText="Zrušit"
              placeholder="Vyberte">
              <ion-select-option value="CZ">Česká republika</ion-select-option>
              <ion-select-option value="SK">Slovensko</ion-select-option>
              <ion-select-option value="DE">Německo</ion-select-option>
              <ion-select-option value="GB">Velká Británie</ion-select-option>
              <ion-select-option value="PL">Polsko</ion-select-option>
              <ion-select-option value="US">USA</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-list-header>
            <ion-label>
              Texty
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>
              Netisknutelná poznámka
            </ion-label>
            <ion-input [(ngModel)]="contact.note"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Doplňkový text
            </ion-label>
            <ion-textarea [(ngModel)]="contact.textUnderSubscriber"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>
              Text před položkami faktury
            </ion-label>
            <ion-textarea [(ngModel)]="contact.textBeforeItems"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label>
              Text v patičce faktury
            </ion-label>
            <ion-textarea [(ngModel)]="contact.textInvoiceFooter"></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>