<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Adresář</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createContact()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <div *ngFor="let contact of contacts; index as i">
    <ion-item-divider sticky="true"
      [hidden]="(contact.name.charAt(0).toUpperCase() === contactDisplayNames[((i - 1) > -1) ? (i - 1) : 0].charAt(0).toUpperCase()) && (i > 0)">
      <ion-label>
        {{ contact.name.charAt(0).toUpperCase() }}
      </ion-label>
    </ion-item-divider>
    <ion-card>
      <ion-card-content (click)="openContact(contact.contactId)">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../../assets/icon/avatar.svg" />
          </ion-avatar>
          <ion-label>
            <h3>{{ contact.name }}</h3>
            <p>{{ contact.street }}<span *ngIf="contact.street && contact.city">, </span>{{ contact.city }}</p>
            <p *ngIf="contact.ico">IČO: {{ contact.ico }}</p>
            <p *ngIf="contact.dic">DIČ: {{ contact.dic }}</p>
            <p *ngIf="contact.mailTo">{{ contact.mailTo }}</p>
            <p *ngIf="contact.tel">{{ contact.tel }}</p>
            <ion-note *ngIf="contact.note">{{ contact.note }}</ion-note>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNext($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Načítání...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>