<ion-header>
  <ion-toolbar>
    <ion-title>Přihlášení</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="login-card">
    <ion-card-header>
      <ion-card-title>Přihlášení do aplikace</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>E-mail</ion-label>
      <ion-input [(ngModel)]="formData.email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label>Heslo</ion-label>
      <ion-input [(ngModel)]="formData.password" type="password"></ion-input>
    </ion-item>
    <ion-button [disabled]="isRunning" (click)="login()" class="ion-padding-horizontal" expand="block">
      <ion-icon [hidden]="isRunning" name="log-in-outline" slot="start"></ion-icon>
      <ion-spinner [hidden]="!isRunning"></ion-spinner>
      &nbsp;Přihlásit
    </ion-button>
  </ion-card>
</ion-content>