<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [hidden]="canHideMenu()">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-item>
            <ion-select placeholder="Firma" (ionChange)="changedCompany($event)"
              [value]="storageService.getSelectedCompany()">
              <ion-select-option *ngFor="let company of storageService.getCompanies(); index as i"
                [value]="company.companyId">{{ company.name }}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-note>{{ storageService.getUserEmail() }}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of menuService.pages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-item (click)="menuService.logout()">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Odhlásit se</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>