<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Hlavní stránka</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Úvod</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <h2>Vítejte v aplikaci. Pro provedení akcí využijte tlačítka v menu.</h2>
      </ion-text>
      <div class="content-info">
        <ion-text>
          <h3>Využité technologie:</h3>
        </ion-text>
        <ul>
          <li>Angular 13.0.0</li>
          <li>Ionic 6.0.0</li>
        </ul>
        <ion-text>
          <h3>Důležité odkazy:</h3>
        </ion-text>
        <ul>
          <li><a href="https://gitlab.com/jibobek/vf-prototype-angular">Verze Angular</a></li>
          <li><a href="https://gitlab.com/jibobek/vf-prototype-flutter">Verze Flutter</a></li>
        </ul>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>