<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="invoiceId === 0">Vystavení dokladu</ion-title>
    <ion-title *ngIf="invoiceId > 0">Úprava dokladu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="invoiceId > 0 && formData.number === ''" type="indeterminate"></ion-progress-bar>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>
            Základní informace
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Odběratel</ion-label>
          <ion-select [(ngModel)]="formData.customerId" placeholder="Vyberte" okText="Zvolit" cancelText="Zrušit"
            (ionChange)="customerChanged($event)">
            <ion-select-option *ngFor="let c of customersForSelect" [value]="c.id">{{ c.name }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Číslo dokumentu</ion-label>
          <ion-input class="form-input" [(ngModel)]="formData.number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Platební metoda</ion-label>
          <ion-select [(ngModel)]="formData.paymentMethodId" okText="Zvolit" cancelText="Zrušit">
            <ion-select-option *ngFor="let pm of paymentMethodsForSelect" [value]="pm.id">{{ pm.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Číselná řada</ion-label>
          <ion-select [(ngModel)]="formData.numberSeriesId" okText="Zvolit" cancelText="Zrušit">
            <ion-select-option *ngFor="let ns of numberSeriesForSelect" [value]="ns.id">{{ ns.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Splatnost (dny)</ion-label>
          <ion-input class="form-input" [(ngModel)]="formData.daysDue" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Datum vystavení</ion-label>
          <ion-input class="form-input" [(ngModel)]="formData.dateCreated" type="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Měna</ion-label>
          <ion-select [(ngModel)]="formData.currency" value="czk" okText="Zvolit" cancelText="Zrušit">
            <ion-select-option value="CZK">CZK</ion-select-option>
            <ion-select-option value="USD">USD</ion-select-option>
            <ion-select-option value="GBP">GBP</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>VS</ion-label>
          <ion-input class="form-input" [(ngModel)]="formData.vs" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>KS</ion-label>
          <ion-input class="form-input" [(ngModel)]="formData.ks" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>SS</ion-label>
          <ion-input class="form-input" [(ngModel)]="formData.ss" type="number"></ion-input>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>
            Položky
          </ion-label>
        </ion-list-header>

        <ion-grid *ngFor="let item of formData.items; index as i">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Počet kusů</ion-label>
                <ion-input [(ngModel)]="item.quantity" type="number"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">MJ</ion-label>
                <ion-input [(ngModel)]="item.quantityUnit"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="4">
              <ion-item>
                <ion-label position="stacked">Popis</ion-label>
                <ion-input [(ngModel)]="item.text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col *ngIf="storageService.isVatPayer()">
              <ion-item>
                <ion-label position="stacked">DPH</ion-label>
                <ion-select [(ngModel)]="item.vat" placeholder="Vyberte">
                  <ion-select-option value="21">21 %</ion-select-option>
                  <ion-select-option value="15">15 %</ion-select-option>
                  <ion-select-option value="10">10 %</ion-select-option>
                  <ion-select-option value="0">0 %</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">Cena</ion-label>
                <ion-input [(ngModel)]="item.price" type="number"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-button fill="clear" color="danger" (click)="removeItem(i)">
                  <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>

      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button (click)="addItem()">
              <ion-icon name="add-circle-outline" slot="start"></ion-icon>Přidat dalsí
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-button *ngIf="invoiceId === 0" size="large" expand="block" (click)="createInvoice()">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Vystavit
    </ion-button>
    <ion-button *ngIf="invoiceId > 0" size="large" expand="block" (click)="updateInvoice()">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      Uložit
    </ion-button>
  </ion-card>
</ion-content>