<ion-header>
  <ion-toolbar *ngIf="invoice">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Doklad {{ invoice.number }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openInvoiceOptions()">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!invoice">
    <ion-title>Načítání dokladu...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-progress-bar *ngIf="!invoice" type="indeterminate"></ion-progress-bar>
  <div *ngIf="invoice">
    <ion-card>
      <ion-card-content>
        <ion-badge class="invoice-badge" *ngFor="let badge of invoiceService.getInvoiceReadableFlags(invoice.flags)"
          [color]="badge.color">
          {{ badge.name }}
        </ion-badge>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text>
                <h2>Dodavatel</h2>
              </ion-text>
              <ion-grid>
                <ion-row>
                  <ion-col>{{ invoice.supplierName }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>IČ: {{ invoice.supplierIco }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>DIČ: {{ invoice.supplierDic }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>{{ invoice.supplierStreet }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>{{ invoice.supplierCity }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>{{ invoice.supplierCountryCode }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col>
              <ion-text>
                <h2>Odběratel</h2>
              </ion-text>
              <ion-grid>
                <ion-row>
                  <ion-col>{{ invoice.customerName }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>IČ: {{ invoice.customerIco }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>DIČ: {{ invoice.customerDic }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>{{ invoice.customerStreet }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>{{ invoice.customerCity }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>{{ invoice.customerCountryCode }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col>Datum vystavení: {{ invoice.dateCreated | date: 'dd.MM.yyyy' }}</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>Datum splatnosti: {{ invoice.dateDue | date: 'dd.MM.yyyy' }}</ion-col>
                </ion-row>
                <ion-row *ngIf="invoice.paymentMethodId > 0">
                  <ion-col>
                    Platební metoda: {{ invoiceService.getPaymentMethod(invoice.paymentMethodId).name }}
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col>VS: {{ invoice.vs }}</ion-col>
                </ion-row>
                <ion-row *ngIf="invoice.ss > 0">
                  <ion-col>SS: {{ invoice.ss }}</ion-col>
                </ion-row>
                <ion-row *ngIf="invoice.ks > 0">
                  <ion-col>KS: {{ invoice.ks }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-text>
          <h2>Položky</h2>
        </ion-text>
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              Počet kusů
            </ion-col>
            <ion-col size="1">
              MJ
            </ion-col>
            <ion-col size="4">
              Text
            </ion-col>
            <ion-col size="2">
              % DPH
            </ion-col>
            <ion-col size="2">
              Cena
            </ion-col>
          </ion-row>
          <div *ngFor="let item of invoice.items">
            <ion-row>
              <ion-col size="2">
                {{ item.quantity }}
              </ion-col>
              <ion-col size="1">
                {{ item.unit }}
              </ion-col>
              <ion-col size="4">
                {{ item.text }}
              </ion-col>
              <ion-col size="2">
                {{ item.vatRate }}
              </ion-col>
              <ion-col size="2">
                {{ invoiceService.translateCurrencyToSymbol(item.unitPrice, invoice.currency) }}
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-text>
          <h2>Celkem</h2>
        </ion-text>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-grid>
                <ion-row>
                  <ion-col>Sazba</ion-col>
                  <ion-col>Základ</ion-col>
                  <ion-col>DPH</ion-col>
                  <ion-col>Včetně DPH</ion-col>
                </ion-row>
                <ion-row *ngFor="let vat of invoice.vats">
                  <ion-col>{{ vat.vat_rate }} %</ion-col>
                  <ion-col>{{ invoiceService.translateCurrencyToSymbol(vat.base, invoice.currency) }}</ion-col>
                  <ion-col>{{ invoiceService.translateCurrencyToSymbol(vat.vat, invoice.currency) }}</ion-col>
                  <ion-col>{{ invoiceService.translateCurrencyToSymbol(vat.total, invoice.currency) }}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-right">
              <ion-text>
                <h1>Celkem k úhradě: {{ invoiceService.translateCurrencyToSymbol(invoice.total, invoice.currency) }}
                </h1>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>